<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<div class="container p-5">
    <div class="alert alert-success p-5" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Aww yeah, you successfully registered to our college event.</p>
        <hr>
        <p class="mb-0">Click on the below home button to move to the home page.</p>
    </div>
    <form action="/home">
        <button type="submit" class="btn btn-success float-right">home</button>
    </form>
</div>
