.bg{
    background-color: #def0d7;
}

.bg1{
    background-color: #eceeef;
}

.navb {
    overflow: hidden;
    background-color:#def0d7;
    position: fixed;
    bottom: 0;
    width: 100%;
  }

.new-img{
    width: 80%;
}
  
